<label>Es wird bestreikt</label>
<%= f.text_field :organisation %><br/>

<div>
  <div class="date_wrapper">
    <label>Erster Tag</label>
    <%= date_text_field f, :start_on %><br/>
  </div>
  <div class="date_wrapper">
    <label>Letzter Tag</label>
    <%= date_text_field f, :end_on %><br/>
  </div>
  <%= clearer %>
</div>

<label>Folgen </label>
<div class="label_details">
  (z.B. Zugausfälle in Berlin von 9:00 bis 10:00)
</div>
<%= f.text_area :comment, :size => '60x5' %><br/>
