<h1><%= @strike.organisation %> Streik vom <%= d @strike.start_on %> bis <%= d @strike.end_on %></h1>
<%= @strike.comment %>
<br/><br/><br/>
eingetragen von <%= link_to @strike.creator.name, "http://www.facebook.com/#!/profile.php?id=#{@strike.creator.fb_id}&v=wall" %>
<br/><br/>
<% if is_owner?(@strike) %>
  <%= link_to 'Ändern', edit_strike_path(@strike) %>
  <%= link_to 'Löschen', @strike, :method => :delete, :confirm => 'Löschen ??' %>
<% end %>
