<% content_for :js do %>
  <%= javascript_include_tag "http://www.google.com/jsapi?key=#{ CFG['api']['google'] }" %>
  <script>
    fillWithFeedEntries('#feed_entries', 'streik OR warnstreik -griechenland -frankreich')
  </script>
<% end %>

<table style="width:100%">
  <tr>
    <th></th>
    <% @dates.each_with_index do |date,i| %>
      <% if i == 0 or (date.day == 1 and i < @dates.size - 2) %>
        <th><span style="position:absolute;"><%= l(date, :format => :month) %></span>&nbsp;</th>
      <% else %>
        <th>&nbsp;</th>
      <% end %>
    <% end %>
  </tr>

  <tr>
    <th></th>
    <% @dates.each do |date| %>
      <th><%= date.strftime('%d.') %></th>
    <% end %>
  </tr>
  
  <% @strikes.each do |organisation, strikes| %>
    <tr>
      <th><%= organisation %></th>
      <% @dates.each do |date| %>
        <% if strike = strikes.detect{|s| s.include?(date) } %>
          <td>
            <% title = "#{strike.organisation} vom #{strike.start_on.strftime('%d.%m.')} bis #{strike.end_on.strftime('%d.%m.')} --- #{strike.comment}" %>
            <%= link_to nbsp, strike, :style => "background:red; display:block", :title => title %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Streik melden', new_strike_path %>

<br/><br/><br/>


<table class="w100 top_aligned" id="feed_entries">
</table>
