<!DOCTYPE html>
<html>
<head>
  <title>Wer streikt?</title>
  <%= stylesheet_link_tag 'reset', 'application', 'jquery/ui' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="fb-root"></div>

<div id="page">
  <div id="user_navigation">
    <% if current_user %>
      Hallo <%= current_user.first_name %>!!
      <%= link_to 'Abmelden', logout_users_path %>
    <% else %>
      <%= link_to_function 'Anmelden', 'loginWithFacebook()', :class => 'facebook_button' %>
    <% end %>
  </div>

  <%= clearer %>

  <div id="title">Wer streikt!?</div>

  <% if flash[:error] %>
    <div style="padding: 0 0.7em;" class="ui-state-error">
      <p>
        <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-alert"></span>
        <%= flash[:error] %>
      </p>
    </div>
    <br/><br/>
  <% elsif flash[:notice] %>
    <div style="margin-top: 20px; padding: 0pt 0.7em;" class="ui-state-highlight ui-corner-all">
      <p>
        <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
        <%= flash[:notice] %>
      </p>
    </div>
    <br/><br/>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <div id="copyright">
    Background by <%= link_to 'Wolf-Dieter', 'http://commons.wikimedia.org/wiki/User:Wolf-Dieter' %>
  </div>
</div>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
<%= javascript_include_tag 'rails', 'facebook-login', 'jquery-ui.custom.min', 'application' %>

<div id="fb-root"></div>
<script>
  FBAppId = '<%=CFG['api']['facebook']['AppId']%>';
  FBLoginUrl = '<%= new_user_url %>'
  FBRegisterUrl = '<%= login_with_facebook_users_url %>'
</script>

<%= yield :js %>

</body>
</html>
