<!DOCTYPE html>
<html>
<head>
  <title>Wer streikt?</title>
  <%= stylesheet_link_tag 'reset', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="fb-root"></div>

<div id="content">
  <div id="title">Wer streikt!?</div>

  <%= yield %>

  <div id="copyright">
    Background by <%= link_to 'Wolf-Dieter', 'http://commons.wikimedia.org/wiki/User:Wolf-Dieter' %>
  </div>
</div>

<script>
  FBAppId = '<%= CFG['api']['facebook']['AppId'] %>'
</script>
<div id="fb-root"></div>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
<%= javascript_include_tag 'rails', 'application' %>
<%= yield :js %>

</body>
</html>
