<!DOCTYPE html>
<html>
<head>
  <title>Wer streikt?</title>
  <%= stylesheet_link_tag 'reset', 'application', 'jquery/ui' %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss, strike_rss_url, :title => 'Aktuelle Streiks') %>
</head>
<body class="shadow">

<%= link_to 'http://github.com/grosser/werstreikt' do %>
  <img alt="Fork me on GitHub" src="http://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" style="position: absolute; top: 0pt; left: 0pt; border: 0pt none;">
<% end %>

<div id="fb-root"></div>

<div id="page">
  <div class="box">
    <div id="user_navigation">
      <% if current_user %>
        Hallo <%= current_user.first_name %>!!
        <%= link_to 'Abmelden', logout_users_path %>
      <% else %>
        <%= link_to_function 'Anmelden', 'loginWithFacebook()', :class => 'facebook_button' %>
      <% end %>
    </div>

    <%= link_to 'Wer streikt!?', '/', :id => 'title' %>
  </div>

  <% flash.each do |key, text| %>
    <div class="flash_<%= key %> box">
      <%= text %>
    </div>
  <% end %>

  <div id="content" class="box">
    <%= yield %>
  </div>

  <div id="copyright" class="box">
    <%= like_button 'werstreikt.de', :width => 635 %><br/>
    <div style="float:right">Icons by <%= link_to 'FamFamFam', 'http://www.famfamfam.com/lab/icons/silk', :rel => :nofollow %></div>
    <div style="float:right">Background by <%= link_to 'Wolf-Dieter', 'http://commons.wikimedia.org/wiki/User:Wolf-Dieter', :rel => :nofollow %> --</div>
  </div>
</div>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
<%= javascript_include_tag 'rails', 'facebook-login', 'jquery-ui.custom.min', 'application' %>

<div id="fb-root"></div>
<script>
  FBAppId = '<%=CFG['api']['facebook']['AppId']%>';
  FBLoginUrl = '<%= new_user_url %>'
  FBRegisterUrl = '<%= login_with_facebook_users_url %>'
</script>

<%= yield :js %>

<%= render 'layouts/uservoices' %>

</body>
</html>
